/* Eric Meyer's Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/*ol, ul {
    list-style: none;
}*/
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Global Typography */
*, :before, :after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
    display: inline-block;
}
.menu-wrapper li a:hover:after{
    background: #D2A63E;
    width:100%;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*font-size: 10px;*/
    width: 100%;
    height: 100%;
}
body {
/*    margin: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-family: 'Montserrat';
    color:#FEFEFE;*/
    /*-webkit-font-smoothing:antialiased;*/
    /*line-height: 1;*/
    /*background:url("../images/Mobile.png") center top no-repeat;
    opacity:0.5;*/
}
/* Global Headings */
p {
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

.form-control:focus{
    border-color:transparent;
}
blockquote, cite, q, var, dfn {
    font-style: italic;
}
small {
    font-size: 85.71429%;
    line-height: 1.75;
}
img {
    /*width: 100%;*/
    display: block;
    height: auto;
}
i {
    font-size: 0;
}
/* Global Link style */
a {
    display: inline-block;
    text-decoration: none;
    outline: none;
}
a:hover {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color:#fdbc0f;
}
/* Global Button Styles */
/*h2{
    font-size:5.0rem;
    margin-bottom: 15px;
    line-height:0.9;
    font-weight: bold;
    font-family: 'BodoniFLF';
}*/
strong {
    display: inline-block;
}
input {
    outline: none;
    border: none;
}
em {
    font-style: italic;
}
select {
    -webkit-appearance: none;
    outline: none;
    border: none;
}

/* Global Sprite Icons */
[class^="icon-"], [class*="icon-"] {
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 39px;
    vertical-align: middle;
    font-size: 0;
    pointer-events:none;
}
/* Clearfix class*/
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
}

* html .clearfix {
    height: 1%;
}
.menu-bar span {
    font-size: 0;
}
/* Global style */

.btn:focus{
    outline:0;
    box-shadow:none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#000000;
    opacity:1;
}

::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#000000;
    opacity:1;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:#000000;
    opacity:1;
}
textarea{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    width:100%;
}
input:focus{
    outline:0;
    border:0;
    box-shadow:none;
}
#wrapper{
    height:100%;
    overflow-x:hidden;
}

.container{
    max-width:1410px;
    padding: 0 15px;
    margin:0 auto;
}
.sec-btn{
    text-transform:uppercase;
    border:0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out ;
    -ms-transition: all 0.3s ease-in-out ;
    -o-transition: all 0.3s ease-in-out ;
    transition: all 0.3s ease-in-out ;
    cursor:pointer;
    font-family: 'Montserrat';
    padding:0;
    background: transparent;
    text-align: center;
}
.sec-btn:hover{
    background: #CD9D0B !important;

}
/*font*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Broadcast Matter';
    src: url('../fonts/BroadcastMatter.woff2') format('woff2'),
        url('../fonts/BroadcastMatter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'NCAA Georgia Bulldog';
    src: url('../fonts/NCAAGeorgiaBulldogBold.woff2') format('woff2'),
        url('../fonts/NCAAGeorgiaBulldogBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'BodoniFLF';
    src: url('BodoniFLF-BoldItalic.woff2') format('woff2'),
        url('BodoniFLF-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'BodoniFLF';
    src: url('BodoniFLF-Italic.woff2') format('woff2'),
        url('BodoniFLF-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BodoniFLF';
    src: url('BodoniFLF-Roman.woff2') format('woff2'),
        url('BodoniFLF-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BodoniFLF';
    src: url('BodoniFLF-Bold.woff2') format('woff2'),
        url('BodoniFLF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}